[chattr]
Bottom = end; alt-gt; c1
Down = down; right; ctrl-n
Mark = t; shift-t
MarkAndDown = insert
PageDown = pgdn; ctrl-v
PageUp = pgup; alt-v
Top = home; alt-lt; a1
Up = up; left; ctrl-p

[dialog]
Cancel = f10; esc; ctrl-g
Down = right; down
Help = f1
Ok = enter
Refresh = ctrl-l
ScreenList = alt-prime
ScreenNext = alt-rbrace
ScreenPrev = alt-lbrace
Suspend = ctrl-z
Up = left; up

[diffviewer]
Bottom = ctrl-end
Down = down
Edit = f4
EditOther = f14
End = end
Goto = g; shift-g
Help = f1
Home = home
HunkNext = n; enter; space
HunkPrev = p; backspace
Left = left
LeftQuick = ctrl-left
Merge = f5
MergeOther = f15
Options = f9
PageDown = pgdn
PageUp = pgup
Quit = f10; q; shift-q; esc
Redo = ctrl-r
Right = right
RightQuick = ctrl-right
Save = f2
Search = f7
SearchContinue = f17
SelectCodepage = alt-e
Shell = ctrl-o
ShowNumbers = alt-n; l
ShowSymbols = alt-s; s
SplitEqual = equal
SplitFull = f
SplitLess = lt
SplitMore = gt
Swap = ctrl-u
Tab2 = 2
Tab3 = 3
Tab4 = 4
Tab8 = 8
Top = ctrl-home
Up = up

[editor]
BackSpace = backspace; ctrl-h
BlockSave = ctrl-f
Bookmark = alt-k
BookmarkFlush = alt-o
BookmarkNext = alt-j
BookmarkPrev = alt-i
Bottom = ctrl-end; alt-gt
BottomOnScreen = ctrl-pgdn
Complete = alt-tab
Copy = f5
Cut = shift-delete
Delete = delete; ctrl-d
DeleteLine = ctrl-y
DeleteToEnd = ctrl-k
DeleteToWordBegin = alt-backspace
DeleteToWordEnd = alt-d
Down = down
EditNew = ctrl-n
End = end
Enter = enter
ExternalCommand = alt-u
FileNext = alt-plus
FilePrev = alt-minus
Find = alt-enter
Goto = alt-l
Help = f1
History = alt-shift-e
Home = home
InsertFile = f15
InsertLiteral = ctrl-q
InsertOverwrite = insert
Left = left
MacroStartStopRecord = ctrl-r
Mail = alt-m
Mark = f3
MarkColumn = f13
MarkColumnDown = alt-down
MarkColumnLeft = alt-left
MarkColumnPageDown = alt-pgdn
MarkColumnPageUp = alt-pgup
MarkColumnRight = alt-right
MarkColumnUp = alt-up
MarkDown = shift-down
MarkLeft = shift-left
MarkPageDown = shift-pgdn
MarkPageUp = shift-pgup
MarkRight = shift-right
MarkScrollDown = ctrl-shift-down
MarkScrollUp = ctrl-shift-up
MarkToEnd = shift-end
MarkToFileBegin = ctrl-shift-home
MarkToFileEnd = ctrl-shift-end
MarkToHome = shift-home
MarkToPageBegin  = ctrl-shift-pgup
MarkToPageEnd = ctrl-shift-pgdn
MarkToWordBegin = ctrl-shift-left
MarkToWordEnd = ctrl-shift-right
MarkUp = shift-up
MatchBracket = alt-b
Menu = f9
Move = f6
PageDown = pgdn
PageUp = pgup
ParagraphFormat = alt-p
Paste = shift-insert
Quit = f10; esc
Redo = alt-r
Refresh = ctrl-l
Remove = f8
Replace = f4
ReplaceContinue = f14
Return = shift-enter; ctrl-enter; ctrl-shift-enter
Right = right
Save = f2
SaveAs = f12; ctrl-f2
ScrollDown = ctrl-down
ScrollUp = ctrl-up
Search = f7
SearchContinue = f17
SelectCodepage = alt-e
Shell = ctrl-o
ShowNumbers = alt-n
ShowTabTws = alt-underline
Sort = alt-t
SpellCheckCurrentWord = ctrl-p
Store = ctrl-insert
SyntaxOnOff = ctrl-s
Tab = tab; shift-tab; ctrl-tab; ctrl-shift-tab
Top = ctrl-home; alt-lt
TopOnScreen = ctrl-pgup
Undo = ctrl-u
Up = up
UserMenu = f11
WordLeft = ctrl-left; ctrl-z
WordRight = ctrl-right; ctrl-x

[filemanager]
CdQuick = alt-c
ChangePanel = tab; ctrl-i
Copy = f5
Delete = f8
DirSize = ctrl-space
Edit = f4
EditorViewerHistory = alt-shift-e
ExtendedKeyMap = ctrl-x
Find = alt-question
Help = f1
History = alt-h
HotList = ctrl-backslash; ctrl-d
MakeDir = f7
Menu = f9
MenuLastSelected = f19
Move = f6
PutCurrentFullSelected = ctrl-shift-enter
PutCurrentPath = alt-a
PutCurrentSelected = alt-enter; ctrl-enter
PutOtherPath = alt-shift-a
Quit = f10
QuitQuiet = f20
Reread = ctrl-r
ScreenList = alt-prime
Select = kpplus
SelectInvert = kpasterisk
Shell = ctrl-o
ShowHidden = alt-dot
SplitEqual = alt-equal
SplitLess = alt-shift-left
SplitMore = alt-shift-right
SplitVertHoriz = alt-comma
Suspend = ctrl-z
Swap = ctrl-u
Unselect = kpminus
UserMenu = f2
View = f3
ViewFiltered = alt-exclamation

[filemanager:xmap]
ChangeAttributes = e
ChangeMode = c
ChangeOwn = o
CompareDirs = d
CompareFiles = ctrl-d
ExternalPanelize = exclamation
HotListAdd = h
Jobs = j
Link = l
LinkSymbolic = s
LinkSymbolicEdit = ctrl-s
LinkSymbolicRelative = v
PanelInfo = i
PanelQuickView = q
PutCurrentLink = r
PutCurrentPath = p
PutCurrentTagged = t
PutOtherLink = ctrl-r
PutOtherPath = ctrl-p
PutOtherTagged = ctrl-t
VfsList = a

[help]
Back = f3; left; l
Bottom = end; ctrl-end; ctrl-pgdn; c1; alt-gt; shift-g
Down = down; ctrl-n
Enter = right; enter
HalfPageDown = d
HalfPageUp = u
Help = f1
Index = f2; c
LinkNext = tab
LinkPrev = alt-tab
NodeNext = n
NodePrev = p
PageDown = f; space; pgdn; ctrl-v
PageUp = b; pgup; alt-v; backspace
Quit = f10; esc
Top = home; ctrl-home; ctrl-pgup; a1; alt-lt; g
Up = up; ctrl-p

[input]
Backspace = backspace; ctrl-h
Complete = alt-tab
Delete = delete; ctrl-d
DeleteToEnd = ctrl-k
DeleteToWordBegin = alt-backspace
DeleteToWordEnd = alt-d
End = ctrl-e; alt-gt; end; c1
History = alt-h
HistoryNext = alt-n; ctrl-up
HistoryPrev = alt-p; ctrl-down
Home = ctrl-a; alt-lt; home; a1
Left = left; alt-left; ctrl-b
MarkLeft = shift-left
MarkRight = shift-right
MarkToEnd = shift-end
MarkToHome = shift-home
MarkToWordBegin = ctrl-shift-left
MarkToWordEnd = ctrl-shift-right
Remove = ctrl-w
Right = right; alt-right; ctrl-f
Store = alt-w
WordLeft = ctrl-left; alt-b
WordRight = ctrl-right; alt-f
Yank = ctrl-y

[listbox]
Bottom = end; alt-gt; c1
Clear = shift-delete; shift-d
Delete = delete; d
Down = down; ctrl-n
Edit = f4
Enter = enter
PageDown = pgdn; ctrl-v
PageUp = pgup; alt-v
Top = home; alt-lt; a1
Up = up; ctrl-p
View = f3

[menu]
Down = down; ctrl-n
End = end; alt-gt ctrl-e
Enter = enter
Help = f1
Home = home; alt-lt; ctr-a
Left = left; ctrl-b
Quit = F10; esc; ctrl-g
Right = right; ctrl-f
Up = up; ctrl-p

[panel]
Bottom = alt-gt; end; c1
BottomOnScreen = alt-j
CdChild = ctrl-pgdn
CdParent = ctrl-pgup
CopySingle = f15
CycleListingFormat = alt-t
DeleteSingle = f18
Down = down; ctrl-n
EditNew = f14
Enter = enter
History = alt-shift-h
HistoryNext = alt-u
HistoryPrev = alt-y
Left = left
Mark = insert; ctrl-t
MarkDown = shift-down
MarkUp = shift-up
MiddleOnScreen = alt-r
MoveSingle = f16
PageDown = pgdn; ctrl-v
PageUp = pgup; alt-v
PanelOtherCd = alt-o
PanelOtherCdLink = alt-l
PanelOtherSync = alt-i
Right = right
Search = ctrl-s; alt-s
Select = alt-plus
SelectCodepage = alt-e
SelectInvert = alt-asterisk
Top = alt-lt; home; a1
TopOnScreen = alt-g
Unselect = alt-minus
Up = up; ctrl-p
ViewRaw = f13

[radio]
Bottom = end; alt-gt; c1
Down = down; ctrl-n
Select = space
Top = home; alt-lt; a1
Up = up; ctrl-p

[tree]
Bottom = end; alt-gt; c1
Copy = f5
Delete = f8; delete
Down = down; ctrl-n
Enter = enter
Forget = f3
Help = f1
Left = left
Move = f6
PageDown = pgdn; ctrl-v
PageUp = pgup; alt-v
Reread = f2; ctrl-r
Right = right
Search = ctrl-s; alt-s
ToggleNavigation = f4
Top = home; alt-lt; a1
Up = up; ctrl-p

[viewer]
Bookmark = r
BookmarkGoto = m
Bottom = end; ctrl-end; ctrl-pgdn; c1; alt-gt; shift-g
Down = j; e; delete; down; enter; ctrl-n
End = ctrl-e
FileNext = ctrl-f
FilePrev = ctrl-b
Goto = f5
HalfPageDown = d
HalfPageUp = u
Help = f1
HexMode = f4
History = alt-shift-e
Home = ctrl-a
Left = h; left
LeftQuick = ctrl-left
MagicMode = f8
NroffMode = f9
PageDown = f; space; pgdn; ctrl-v
PageUp = b; pgup; alt-v; backspace
Quit = f3; f10; q; esc
Right = l; right
RightQuick = ctrl-right
Ruler = alt-r
Search = f7
SearchBackward = question
SearchBackwardContinue = ctrl-r
SearchContinue = f17; n
SearchForward = slash
SearchForwardContinue = ctrl-s
SearchOppositeContinue = shift-n
SelectCodepage = alt-e
Shell = ctrl-o
Top = home; ctrl-home; ctrl-pgup; a1; alt-lt; g
Up = k; y; insert; up; ctrl-p
WrapMode = f2

[viewer:hex]
Bottom = ctrl-end; ctrl-pgdn; c1; alt-gt; shift-g
Down = j; delete; down
End = ctrl-e; end
Goto = f5
Help = f1
HexEditMode = f2
HexMode = f4
History = alt-shift-e
Home = ctrl-a; home
Left = b; left
MagicMode = f8
NroffMode = f9
PageDown = pgdn; ctrl-v
PageUp = pgup; alt-v
Quit = f3; f10; q; esc
Right = f; right
Save = f6
Search = f7
SearchBackward = question
SearchBackwardContinue = ctrl-r
SearchContinue = f17; n
SearchForward = slash
SearchForwardContinue = ctrl-s
SearchOppositeContinue = shift-n
ToggleNavigation = tab
Top = ctrl-home; ctrl-pgup; a1; alt-lt; g
Up = k; y; up

