[chattr]

Bottom                 = G; end
Down                   = j; down; right
Mark                   = c
MarkAndDown            = shift-c
PageDown               = ctrl-d; pgdn
PageUp                 = ctrl-u; pgup
Top                    = g; home
Up                     = k; up; left

[dialog]

Cancel                 = q; esc; f10
Down                   = j; down; right
Help                   = shift-k; f1
Ok                     = w; enter
Refresh                = ctrl-l
ScreenList             = alt-prime
ScreenNext             = alt-rbrace
ScreenPrev             = alt-lbrace
Suspend                = ctrl-z
Up                     = k; left; up

[diffviewer]

Bottom                 = G
Down                   = j; down
End                    = end
Home                   = home
Left                   = h; left
PageDown               = ctrl-d; pgdn
PageUp                 = ctrl-u; pgup
Right                  = l; right
Top                    = g;
Up                     = k; up

Edit                   = f4
EditOther              = f14
Goto                   = :
Help                   = shift-k; f1
HunkNext               = n; enter; space
HunkPrev               = p; backspace
LeftQuick              = ctrl-left
Merge                  = f5
MergeOther             = f15
Options                = f9
Quit                   = q; esc; f10
Redo                   = ctrl-r
RightQuick             = ctrl-right
Save                   = f2
Search                 = f7
SearchContinue         = f17
SelectCodepage         = alt-e
Shell                  = ctrl-o
ShowNumbers            = alt-n; l
ShowSymbols            = alt-s; s
SplitEqual             = equal
SplitFull              = f
SplitLess              = lt
SplitMore              = gt
Swap                   = ctrl-u
Tab2                   = 2
Tab3                   = 3
Tab4                   = 4
Tab8                   = 8

[editor]

BackSpace              = backspace; ctrl-h
BlockSave              = ctrl-f
Bookmark               = alt-k
BookmarkFlush          = alt-o
BookmarkNext           = alt-j
BookmarkPrev           = alt-i
Bottom                 = ctrl-end; alt-gt
BottomOnScreen         = ctrl-pgdn
Complete               = alt-tab
Copy                   = f5
Cut                    = shift-delete
Delete                 = delete; ctrl-d
DeleteLine             = ctrl-y
DeleteToEnd            = ctrl-k
DeleteToWordBegin      = alt-backspace
DeleteToWordEnd        = alt-d
Down                   = down
EditNew                = ctrl-n
End                    = end
Enter                  = enter
ExternalCommand        = alt-u
FileNext               = alt-plus
FilePrev               = alt-minus
Find                   = alt-enter
Goto                   = alt-l
Help                   = shift-k; f1
History                = alt-shift-e
Home                   = home
InsertFile             = f15
InsertLiteral          = ctrl-q
InsertOverwrite        = insert
Left                   = left
MacroStartStopRecord   = ctrl-r
Mail                   = alt-m
Mark                   = f3
MarkColumn             = f13
MarkColumnDown         = alt-down
MarkColumnLeft         = alt-left
MarkColumnPageDown     = alt-pgdn
MarkColumnPageUp       = alt-pgup
MarkColumnRight        = alt-right
MarkColumnUp           = alt-up
MarkDown               = shift-down
MarkLeft               = shift-left
MarkPageDown           = shift-pgdn
MarkPageUp             = shift-pgup
MarkRight              = shift-right
MarkScrollDown         = ctrl-shift-down
MarkScrollUp           = ctrl-shift-up
MarkToEnd              = shift-end
MarkToFileBegin        = ctrl-shift-home
MarkToFileEnd          = ctrl-shift-end
MarkToHome             = shift-home
MarkToPageBegin        = ctrl-shift-pgup
MarkToPageEnd          = ctrl-shift-pgdn
MarkToWordBegin        = ctrl-shift-left
MarkToWordEnd          = ctrl-shift-right
MarkUp                 = shift-up
MatchBracket           = alt-b
Menu                   = f9
Move                   = f6
PageDown               = pgdn
PageUp                 = pgup
ParagraphFormat        = alt-p
Paste                  = shift-insert
Quit                   = f10; esc
Redo                   = alt-r
Refresh                = ctrl-l
Remove                 = f8
Replace                = f4
ReplaceContinue        = f14
Return                 = shift-enter; ctrl-enter; ctrl-shift-enter
Right                  = right
Save                   = f2
SaveAs                 = f12; ctrl-f2
ScrollDown             = ctrl-down
ScrollUp               = ctrl-up
Search                 = f7
SearchContinue         = f17
SelectCodepage         = alt-e
Shell                  = ctrl-o
ShowNumbers            = alt-n
ShowTabTws             = alt-underline
Sort                   = alt-t
SpellCheckCurrentWord  = ctrl-p
Store                  = ctrl-insert
SyntaxOnOff            = ctrl-s
Tab                    = tab; shift-tab; ctrl-tab; ctrl-shift-tab
Top                    = ctrl-home; alt-lt
TopOnScreen            = ctrl-pgup
Undo                   = ctrl-u
Up                     = up
UserMenu               = f11
WordLeft               = ctrl-left; ctrl-z
WordRight              = ctrl-right; ctrl-x

[filemanager]

CdQuick                = alt-c
ChangePanel            = tab; ctrl-i
Copy                   = f5
Delete                 = f8
DirSize                = ctrl-space
Edit                   = f4
EditorViewerHistory    = alt-shift-e
ExtendedKeyMap         = ctrl-x
Find                   = alt-question
Help                   = f1
History                = alt-h
HotList                = ctrl-backslash; ctrl-d
MakeDir                = f7
Menu                   = f9
MenuLastSelected       = f19
Move                   = f6
PutCurrentFullSelected = ctrl-shift-enter
PutCurrentPath         = alt-a
PutCurrentSelected     = alt-enter; ctrl-enter
PutOtherPath           = alt-shift-a
Quit                   = f10
QuitQuiet              = f20
Reread                 = ctrl-r
ScreenList             = alt-prime
Select                 = kpplus
SelectInvert           = kpasterisk
Shell                  = ctrl-o
ShowHidden             = ctrl-h
SplitEqual             = alt-equal
SplitLess              = alt-shift-left
SplitMore              = alt-shift-right
SplitVertHoriz         = alt-comma
Suspend                = ctrl-z
Swap                   = ctrl-u
Unselect               = kpminus
UserMenu               = f2
View                   = f3
ViewFiltered           = alt-exclamation

[filemanager:xmap]

ChangeAttributes       = e
ChangeMode             = c
ChangeOwn              = o
CompareDirs            = d
CompareFiles           = ctrl-d
ExternalPanelize       = exclamation
HotListAdd             = h
Jobs                   = j
Link                   = l
LinkSymbolic           = s
LinkSymbolicEdit       = ctrl-s
LinkSymbolicRelative   = v
PanelInfo              = i
PanelQuickView         = q
PutCurrentLink         = r
PutCurrentPath         = p
PutCurrentTagged       = t
PutOtherLink           = ctrl-r
PutOtherPath           = ctrl-p
PutOtherTagged         = ctrl-t
VfsList                = a

[help]

Back                   = ctrl-pgup; f3; h; left
Bottom                 = G; end
Down                   = j; down
Enter                  = i; l; enter; right
HalfPageDown           = d
HalfPageUp             = u
Help                   = shift-k; f1
Index                  = f2; c
LinkNext               = ctrl-n
LinkPrev               = ctrn-shift-n
NodeNext               = n
NodePrev               = shift-n
PageDown               = ctrl-d; pgdn; space
PageUp                 = ctrl-u; pgup; backspace
Quit                   = q; esc; f10
Top                    = g; home
Up                     = k; up

[input]

Backspace              = backspace; ctrl-h
Complete               = alt-tab
Delete                 = delete; ctrl-d
DeleteToEnd            = ctrl-k
DeleteToWordBegin      = alt-backspace
DeleteToWordEnd        = alt-d
End                    = ctrl-e; alt-gt; end; c1
History                = alt-h
HistoryNext            = alt-n; ctrl-up
HistoryPrev            = alt-p; ctrl-down
Home                   = ctrl-a; alt-lt; home; a1
Left                   = left; alt-left; ctrl-b
MarkLeft               = shift-left
MarkRight              = shift-right
MarkToEnd              = shift-end
MarkToHome             = shift-home
MarkToWordBegin        = ctrl-shift-left
MarkToWordEnd          = ctrl-shift-right
Remove                 = ctrl-w
Right                  = right; alt-right; ctrl-f
Store                  = alt-w
WordLeft               = ctrl-left; alt-b
WordRight              = ctrl-right; alt-f
Yank                   = ctrl-y

[listbox]

Bottom                 = G; end
Clear                  = shift-delete; shift-d
Delete                 = delete; d
Down                   = j; down
Edit                   = f4
Enter                  = enter
PageDown               = ctrl-d; pgdn
PageUp                 = ctrl-u; pgup
Top                    = g; home
Up                     = k; up
View                   = f3

[menu]

Down                   = j; down
End                    = G; end
Enter                  = i; enter
Help                   = shift-k; f1
Home                   = g; home
Left                   = h; left
Quit                   = q; esc; f10
Right                  = l; right
Up                     = k; up

[panel]

Bottom                 = end;
BottomOnScreen         = alt-j
CdChild                = ctrl-pgdn
CdParent               = ctrl-pgup
CopySingle             = f15
CycleListingFormat     = alt-t
DeleteSingle           = f18
Down                   = j; down; ctrl-n
EditNew                = f14
Enter                  = enter
History                = alt-shift-h
HistoryNext            = alt-u
HistoryPrev            = alt-y
Left                   = h; left
Mark                   = insert; ctrl-t
MarkDown               = shift-down
MarkUp                 = shift-up
MiddleOnScreen         = alt-r
MoveSingle             = f16
PageDown               = pgdn; ctrl-v
PageUp                 = pgup; alt-v
PanelOtherCd           = alt-o
PanelOtherCdLink       = alt-l
PanelOtherSync         = alt-i
Right                  = l; right
Search                 = ctrl-s; alt-s
Select                 = alt-plus
SelectCodepage         = alt-e
SelectInvert           = alt-asterisk
Top                    = alt-lt; home; a1
TopOnScreen            = alt-g
Unselect               = alt-minus
Up                     = k; up; ctrl-p
ViewRaw                = f13

[radio]

Bottom                 = G; end
Down                   = j; down
Select                 = space
Top                    = g; home
Up                     = k; up

[tree]

Bottom                 = G; end
Copy                   = f5
Delete                 = f8; delete
Down                   = j; down
Enter                  = enter
Forget                 = f3
Help                   = shift-k; f1
Left                   = left
Move                   = f6
PageDown               = pgdn; ctrl-d
PageUp                 = pgup; ctrl-u
Reread                 = f2; ctrl-r
Right                  = right
Search                 = ctrl-s; alt-s
ToggleNavigation       = f4
Top                    = g; home
Up                     = k; up

[viewer]

Bottom                 = G; end
Down                   = j; down
End                    = ctrl-e
Home                   = ctrl-a
Left                   = h; left
PageDown               = ctrl-d; pgdn; space
PageUp                 = ctrl-u; pgup; backspace
Right                  = l; right
Top                    = g; home
Up                     = k; up

Bookmark               = r
BookmarkGoto           = m
FileNext               = ctrl-f
FilePrev               = ctrl-b
Goto                   = :
HalfPageDown           = d
HalfPageUp             = u
Help                   = shift-k; f1
HexMode                = f4
History                = alt-shift-e
LeftQuick              = ctrl-left
MagicMode              = f8
NroffMode              = f9
Quit                   = q; esc; f3; f10;
RightQuick             = ctrl-right
Ruler                  = alt-r
Search                 = f7
SearchBackward         = question
SearchBackwardContinue = ctrl-r
SearchContinue         = f17; n
SearchForward          = slash
SearchForwardContinue  = ctrl-s
SearchOppositeContinue = shift-n
SelectCodepage         = alt-e
Shell                  = ctrl-o
WrapMode               = f2

[viewer:hex]
Bottom                 = G;
Down                   = j; down
End                    = end
Home                   = home
Left                   = h; left
PageDown               = ctrl-d; pgdn
PageUp                 = ctrl-u; pgup
Right                  = l; right
Top                    = g;
Up                     = k; up

Goto                   = :
Help                   = shift-k; f1
HexEditMode            = f2
HexMode                = f4
History                = alt-shift-e
MagicMode              = f8
NroffMode              = f9
Quit                   = f3; f10; q; esc
Save                   = f6
Search                 = f7
SearchBackward         = question
SearchBackwardContinue = ctrl-r
SearchContinue         = f17; n
SearchForward          = slash
SearchForwardContinue  = ctrl-s
SearchOppositeContinue = shift-n
ToggleNavigation       = tab
