[user]
	email = marjacob@users.noreply.github.com
	name = marjacob
[init]
	defaultBranch = master
[pull]
	rebase = true
[rebase]
	autostash = true
[alias]
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
