[alias]
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	smudge = git-lfs smudge -- %f
	required = true
[init]
	defaultBranch = master
[pull]
	rebase = true
[rebase]
	autostash = true
[submodule]
	recurse = true
[user]
	email = marjacob@users.noreply.github.com
	name = marjacob
[include]
	path = ~/.gitconfig.local
