{{- /* vim: set ft=fish: */ -}}

if status is-login
    source {$__fish_config_dir}/login.fish
    if status is-interactive
        source {$__fish_config_dir}/interactive.fish
    end
end

if test -r {$HOME}/.config.fish
    source {$HOME}/.config.fish
end
