{{- /* vim: set ft=fish: */ -}}

if status is-interactive
    set -gx BROWSER firefox
    set -gx CC clang
    set -gx CXX clang++
    set -gx EDITOR vim
    set -gx GOPATH {$HOME}/.go
    set -gx LESS R
{{- if eq .chezmoi.osRelease.id "void" }}
    set -gx MANPAGER "vim -M +MANPAGER"
{{- else }}
    set -gx MANPAGER "vim -M +MANPAGER -"
{{- end }}
    set -gx PREFIX {$HOME}/.local
{{- if eq .chezmoi.osRelease.id "void" }}
    set -gx SVDIR {$HOME}/.local/var/service
{{- end }}
    set -gx VISUAL {$EDITOR}

    fish_add_path {$GOPATH}/bin
    fish_add_path {$HOME}/.cargo/bin
    fish_add_path {$HOME}/.local/bin
    fish_add_path /opt/bin

    if type -fq lsd
        alias ls="lsd"
        alias tree="lsd --tree"
    else
        alias ls="ls --color=auto"
    end

    if test -r {$HOME}/.config.fish
        source {$HOME}/.config.fish
    end
end
