<?xml version="1.0" encoding="UTF-8"?>
<!-- Produced by Beyond Compare 5 from Scooter Software -->
<BCPreferences Version="2" MinVersion="2">
	<TBcPrefs>
		<CheckForUpdatesDayAmt Value="0"/>
		<TabsConfirmClose Value="False"/>
		<TabsOnTaskbar Value="False"/>
	</TBcPrefs>
</BCPreferences>
