<?xml version="1.0" encoding="UTF-8"?>
<!-- Produced by Beyond Compare 5 from Scooter Software -->
<BCState Version="2" MinVersion="2">
	<TBcState>
		<FirstStartup Value="False"/>
		<FormPositions>
			<TView Value=";;1640;1220"/>
		</FormPositions>
	</TBcState>
	<THomeState>
		<ShowWeb Value="False"/>
	</THomeState>
</BCState>
