.editorconfig
README.md

{{- if and (ne .chezmoi.os "darwin") (ne .chezmoi.os "linux") }}
.bash_logout
.bash_profile
.bashrc
.local/
.profile
.tigrc
.tmux.conf
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
Library/
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/
.hushlogin
{{- end }}

{{- if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/
vsvimrc
{{- end }}

{{- if ne .chezmoi.hostname "miporin" }}
.config/sway/
.config/xkb/
{{- end }}

