if [[ $- != *i* ]]; then
  # Not running interactively.
  return
fi

if [ -f ~/.profile ]; then
  . ~/.profile
fi

alias ls="ls --color=auto"

export HISTCONTROL="erasedups:ignorespace"
export PS1="\u@\h \w \\$ \[$(tput sgr0)\]"

