{{- /* vim: set ft=dosini: */ -}}

[General]
ConfigVersion=1200

[SpeedCrunch]
Display\ColorSchemeName=Solarized Light
Display\DisplayFont="{{- .font.name -}},{{- .font.size -}},-1,5,50,0,0,0,0,0"
General\LeaveLastExpression=false
General\SessionSave=false
General\WindowPositionSave=false
