{{- $fontList := "" -}}
{{- $fontName := "Berkeley Mono" -}}

{{/* Query the system for available fonts. */}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $command := "fc-list" -}}
{{-   if lookPath $command -}}
{{-     $fontList = output $command "-f" "%{family} %{style}\n" $fontName -}}
{{-   end -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $fontList = output
	"REG"
	"QUERY"
	"HKLM\\SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Fonts"
	"/S" -}}
{{- end -}}

{{/* Select a standard font if $fontName is unavailable. */}}
{{- if not (contains $fontName $fontList) -}}
{{-   if eq .chezmoi.os "darwin" -}}
{{-     $fontName = "Monaco" -}}
{{-   else if eq .chezmoi.os "linux" -}}
{{-     $fontName = "Monospace" -}}
{{-   else -}}
{{-     $fontName = "Consolas" -}}
{{-   end -}}
{{- end -}}

data:
  editor:
    size:
      x: 88
      y: 29
  font:
    name: {{ $fontName }}
    size: 11
  git:
    mail: marjacob@users.noreply.github.com
    user: marjacob
  terminal:
    size:
      x: 132
      y: 43

  linux:
    xkb:
      layout: en_NO
