{{- /* vim: set ft=sh: */ -}}

import() {
  if [ -f "${1}" ]; then
    . "${1}"
  fi
}

search() {
  if [ -d "${1}" ]; then
    export PATH=${1}:${PATH}
  fi
}

export BROWSER=firefox
export CC=clang
export CXX=clang++
export EDITOR=vim
export GOPATH=${HOME}/.go
export LESS=R
{{- if eq .chezmoi.osRelease.id "void" }}
export MANPAGER="vim -M +MANPAGER"
{{- else }}
export MANPAGER="vim -M +MANPAGER -"
{{- end }}
export PREFIX=${HOME}/.local
{{- if eq .chezmoi.osRelease.id "void" }}
export SVDIR=${HOME}/.local/var/service
{{- end }}
export VISUAL=${EDITOR}

search "${GOPATH}/bin"
search "${HOME}/.cargo/bin"
search "${HOME}/.local/bin"
search "/opt/bin"

import "${HOME}/.cargo/env"
import "${HOME}/.profile.local"
