{{- /* vim: set ft=bash: */ -}}

if [[ $- != *i* ]]; then
  # Not running interactively.
  return
fi

if [ -f "${HOME}/.profile" ]; then
  source "${HOME}/.profile"
fi

if command -v lsd > /dev/null 2>&1; then
  alias ls="lsd"
  alias tree="lsd --tree"
else
  alias ls="ls --color=auto"
fi

export HISTCONTROL="erasedups:ignorespace"
export PS1="\u@\h \w \\$ \[$(tput sgr0)\]"
