{{/* vim: set ft=gitconfig: */ -}}

[user]
	email = {{ .git.mail }}
	name = {{ .git.user }}
[core]
	editor = vim
{{- $bc := lookPath "bcomp" -}}
{{- if not $bc -}}
{{-   if eq .chezmoi.os "darwin" -}}
{{-     $bcomp := "/Applications/Beyond Compare.app/Contents/MacOS/bcomp" -}}
{{-     if stat $bcomp -}}
{{-       $bc = $bcomp -}}
{{-     end -}}
{{-   else if eq .chezmoi.os "linux" -}}
{{-     $bc = lookPath "bcompare" -}}
{{-   else if eq .chezmoi.os "windows" -}}
{{-     $programFiles32 := env "ProgramFiles(x86)" -}}
{{-     $programFiles64 := env "ProgramFiles" -}}
{{-     $candidates := list -}}
{{-     range $base := list $programFiles64 $programFiles32 -}}
{{-       if $base -}}
{{-         range glob (printf "%s/Beyond Compare */BComp.exe" $base) -}}
{{-           $candidates = append $candidates . -}}
{{-         end -}}
{{-       end -}}
{{-     end -}}
{{-     if $candidates -}}
{{-       $bc = $candidates | sortAlpha | reverse | first -}}
{{-     end -}}
{{-   end -}}
{{- end  }}
{{  if $bc -}}
[diff]
	tool = "Beyond Compare"
[difftool "Beyond Compare"]
	cmd = {{ printf "\"%s\" \"$LOCAL\" \"$REMOTE\"" $bc | quote }}
	trustExitCode = true
{{  end -}}
[init]
	defaultBranch = master
[fetch]
	prune = true
{{  if $bc -}}
[merge]
	tool = "Beyond Compare"
[mergetool "Beyond Compare"]
	cmd = {{ printf "\"%s\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\"" $bc | quote }}
	keepBackup = false
	trustExitCode = true
{{  end -}}
[pull]
	rebase = true
[push]
	useForceIfIncludes = true
[rebase]
	autostash = true
[submodule]
	recurse = true
[format]
	pretty = oneline
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	smudge = git-lfs smudge -- %f
	required = true
[alias]
	recommit = commit --amend --no-edit
	repush = push --force-with-lease
	revise = rebase --interactive --root
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
[include]
	path = ~/.gitconfig.local
