{{- /* vim: set ft=sh: */ -}}

import() {
  if [ -f "${1}" ]; then
    . "${1}"
  fi
}

search() {
  if [ -d "${1}" ]; then
    export PATH=${1}:${PATH}
  fi
}

export BROWSER=firefox
export CC=clang
export CXX=clang++
export EDITOR=vim
export GOPATH=${HOME}/.go
export LESS=R
export MANSECT=2:3:1:n:l:8:0:5:4:9:6:7
export PREFIX=${HOME}/.local
export PYTHONDONTWRITEBYTECODE=1
export RUBYOPT="-E utf-8:utf-8"
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.id "void") }}
export SVDIR=${HOME}/.local/var/service
{{- end }}
export VISUAL=${EDITOR}

for package in "${HOME}/.opt"/*/; do
  search "${package}bin"
done

search "${GOPATH}/bin"
search "${HOME}/.cargo/bin"
search "${HOME}/.local/bin"
{{- if eq .chezmoi.os "darwin" }}
search "/Applications/010 Editor.app/Contents/CmdLine"
{{- end }}
search "/opt/bin"

{{- if not (lookPath "bat") }}
{{-   $bat := lookPath "batcat" }}
{{-   if not $bat }}
{{-     $bat = "cat" }}
{{-   end }}
{{-   printf "alias bat=%q\n" $bat }}
{{- end }}

{{- $code := lookPath "code-oss" }}
{{- if $code }}
{{-   printf "alias code=%q\n" $code }}
{{- end }}

{{- $lsd  := lookPath "lsd" }}
{{- if $lsd }}
{{-   printf "alias ls=%q\n" $lsd }}
{{-   printf "alias tree=%q\n" (printf "%s --tree" $lsd) }}
{{- end }}

import "${HOME}/.cargo/env"
import "${HOME}/.profile.local"
