{{- /* vim: set ft=vim: */ -}}

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
inoremap jk <ESC>

" Disable middle-click paste.
map <MiddleMouse> <Nop>

set visualbell

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
