{{- /* vim: set ft=dosini: */ -}}

[Layout]
command_prompt    = false
message_visible   = false

[Midnight-Commander]
auto_save_setup   = false
skin              = yadt256-defbg
use_internal_edit = false
