{{- /* vim: set ft=dosini: */ -}}

[filemanager]
History                = alt-m
HotList                = ctrl-d; ctrl-backslash
PutCurrentFullSelected = shift-f
PutCurrentPath         = shift-a
PutCurrentSelected     = shift-w
PutOtherPath           = shift-d
SplitLess              = shift-h
SplitMore              = shift-l

[panel]
Down        = down;  j
History     = ctrl-f
HistoryNext = ctrl-backspace
HistoryPrev = backspace
Left        = left;  h
Mark        = space
MarkDown    = shift-j
MarkUp      = shift-k
PageDown    = pgdn; shift-}
PageUp      = pgup; shift-{
Right       = right; l
Up          = up;    k

[dialog]
Down = right; down; ctrl-n
Up   = left; up; ctrl-p

[input]
HistoryNext = ctrl-backspace
HistoryPrev = backspace

[listbox]
Bottom   = end; G
Clear    = ctrl-l
Delete   = delete; D
Down     = down; j
Edit     = f4
Enter    = enter
PageDown = ctrl-d; pgdn
PageUp   = ctrl-u; pgup
Top      = home
Up       = up; k
View     = f3

[tree]
Bottom           = end; G
Copy             = f5
Delete           = delete; f8
Down             = down; j
Enter            = enter
Forget           = f3
Help             = f1
Left             = left; h
Move             = f6
PageDown         = ctrl-d; pgdn
PageUp           = ctrl-u; pgup
Reread           = f2; ctrl-r
Right            = right; l
Search           = ctrl-s; backslash
ToggleNavigation = f4
Top              = home; alt-lt; a1
Up               = up; k

[help]
Back                   = f3; left; h; ctrl-b
Down                   = down; j; ctrl-n
Enter                  = l; ctrl-f; right; enter
PageDown               = f; pgdn; space; shift-}
PageUp                 = b; pgup; backspace; shift-{
Up                     = up; k; ctrl-p

[chattr]
Mark                   = t
MarkAndDown            = shift-t; insert
PageDown               = pgdn; shift-}
PageUp                 = pgup; shift-{

[viewer]
Down                   = j; delete; down; enter; ctrl-n
History                = alt-m
LeftQuick              = alt-h
PageDown               = ctrl-d; pgdn; space
PageUp                 = ctrl-u; pgup; backspace
RightQuick             = alt-l
Up                     = k; insert; up; ctrl-p

[viewer:hex]
Down                   = j; down; delete
History                = alt-m
Left                   = h; left
PageDown               = pgdn; shift-}
PageUp                 = pgup; shift-{
Right                  = l; right
Up                     = k; up

[diffviewer]
Down                   = down; j
Left                   = left; h
LeftQuick              = alt-h
PageDown               = pgdn; shift-}
PageUp                 = pgup; shift-{
Right                  = right; l
RightQuick             = alt-l
ShowNumbers            = alt-n
ShowSymbols            = alt-s
Up                     = up; k
