{{- /* vim: set ft=conf: */ -}}

{{- $clip  := true      -}}
{{- $copy  := "pbcopy"  -}}
{{- $paste := "pbpaste" -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $session := env "XDG_SESSION_TYPE" -}}
{{-   if eq $session "wayland" -}}
{{-     $copy  = "wl-copy"  -}}
{{-     $paste = "wl-paste" -}}
{{-   else if eq $session "x11" -}}
{{-     $copy  = "xclip -selection clipboard -in"  -}}
{{-     $paste = "xclip -selection clipboard -out" -}}
{{-   else -}}
{{-     $clip = false -}}
{{-   end -}}
{{- end }}

# F2 user menu.

{{- if $clip }}

+ t r & ! t t
c       Copy full path to clipboard
        printf '%%s' "%d/%f" | {{ $copy }}

+ t t
C       Copy tagged file paths to clipboard
        for i in %t ; do
            printf '%%s\n' "%d/$i"
        done | {{ $copy }}
{{- end }}

+ t r & ! t t
h       Hash file (SHA-256{{ if $clip }}, copy{{ end }})
{{- if $clip }}
        sha256sum %f | {{ $copy }}
        %view{ascii} {{ $paste }}
{{- else }}
        %view{ascii} sha256sum %f
{{- end }}

+ t t
H       Hash tagged files (SHA-256{{ if $clip }}, copy{{ end }})
{{- if $clip }}
        sha256sum %t | {{ $copy }}
        %view{ascii} {{ $paste }}
{{- else }}
        %view{ascii} sha256sum %t
{{- end }}

+ t r & ! t t
b       Base64 encode the selected file
        base64 < %f > "%f.b64"

+ t t
B       Base64 encode tagged files
        for i in %t ; do
            base64 < "$i" > "$i.b64"
        done

+ t r & ! t t
d       Base64 decode the selected file
        base64 -d < %f > "$(basename %f .b64)"

+ t t
D       Base64 decode tagged files
        for i in %t ; do
            base64 -d < "$i" > "$(basename "$i" .b64)"
        done

{{- if lookPath "mpv" }}

+ t r & ! t t
p       Play this file in mpv
        mpv %f

+ t t
P       Play all of these files in mpv
        mpv %t
{{- end }}

{{- if $clip }}

+ t r & ! t t
y       Copy file contents to clipboard
        if [ $(wc -c < %f) -gt 10485760 ]; then
            echo "File larger than 10 MiB; aborting." | %view{ascii} cat
            exit 1
        fi
        {{ $copy }} < %f

+ t t
Y       Concatenate tagged file contents to clipboard
        TOTAL=0
        for i in %t ; do
            TOTAL=$((TOTAL + $(wc -c < "$i")))
        done
        if [ "${TOTAL}" -gt 10485760 ]; then
            echo "Tagged files total >10 MiB; aborting." | %view{ascii} cat
            exit 1
        fi
        cat %t | {{ $copy }}
{{- end }}
