{{- /* vim: set ft=sshconfig: */ -}}

Include config.d/*.conf

Host *
{{- if ne .chezmoi.os "windows" }}
	ControlMaster auto
	ControlPath ~/.ssh/share/%r@%h:%p
	ControlPersist 15m
{{- end }}
	ForwardX11 no
	PermitLocalCommand yes
	Port 22
	ServerAliveInterval 60
	VisualHostKey yes
