{{- /* vim: set ft=dosini: */ -}}

{{- $buttons := tuple
  (dict "icon" "wcmicons.dll,0"
        "cmd"  "cm_Rereadsource")
  (dict)
  (dict "icon" "wcmicons.dll,3"
        "cmd"  "cm_srcshort")
  (dict "icon" "wcmicons.dll,4"
        "cmd"  "cm_srclong")
  (dict "icon" "wcmicons.dll,26"
        "cmd"  "cm_SrcThumbs")
  (dict "icon" "wcmicons.dll,51"
        "cmd"  "cm_SwitchSeparateTree")
  (dict)
  (dict "icon" "wcmicons.dll,50"
        "cmd"  "cm_DirBranch")
  (dict)
  (dict "icon" "wcmicons.dll,11"
        "cmd"  "cm_ExchangeSelection")
  (dict)
  (dict "icon" "wcmicons.dll,18"
        "cmd"  "cm_GotoPreviousDir")
  (dict "icon" "wcmicons.dll,19"
        "cmd"  "cm_GotoNextDir")
  (dict)
  (dict "icon" "wcmicons.dll,30"
        "cmd"  "cm_PackFiles")
  (dict "icon" "wcmicons.dll,31"
        "cmd"  "cm_UnpackFiles")
  (dict)
  (dict "icon" "wcmicons.dll,16"
        "cmd"  "cm_FtpConnect")
  (dict "icon" "wcmicons.dll,17"
        "cmd"  "cm_FtpNew")
  (dict)
  (dict "icon" "wcmicons.dll,47"
        "cmd"  "cm_SearchFor")
  (dict "icon" "wcmicons.dll,46"
        "cmd"  "cm_MultiRenameFiles")
  (dict "icon" "wcmicons.dll,48"
        "cmd"  "cm_FileSync")
  (dict "icon" "wcmicons.dll,45"
        "cmd"  "cm_CopyFullNamesToClip")
  (dict)
  (dict "icon" "%$Windows%\\explorer.exe"
        "cmd"  "em_explorer"
        "menu" "Windows Explorer")
  (dict "icon" "notepad.exe"
        "cmd"  "notepad.exe"
        "menu" "Notepad")
-}}

{{- $i := 0 -}}
{{- $au3info := "Au3Info" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $au3info = printf "%s_x64.exe" $au3info -}}
{{- else -}}
{{-   $au3info = printf "%s.exe" $au3info -}}
{{- end -}}
{{- $au3info = lookPath $au3info -}}
{{- if $au3info -}}
{{-   $buttons = append $buttons
	(dict "icon" $au3info
	      "cmd"  $au3info
	      "path" "%$UserProfile%\\"
	      "menu" "Au3Info") -}}
{{- end -}}

[Buttonbar]
Buttoncount={{- len $buttons }}
{{- range $button := $buttons }}
{{-   $i = (add1 $i) }}
{{-   if $button }}
button{{- $i -}}={{ $button.icon }}
cmd{{- $i -}}={{ $button.cmd }}
{{-     if (index $button "path") }}
path{{- $i -}}={{ $button.path }}
{{-     end }}
{{-     if (index $button "menu") }}
menu{{- $i -}}={{ $button.menu }}
{{-     end }}
{{-   else }}
button{{- $i -}}=
{{-   end }}
{{- end }}
