{{- /* vim: set ft=dosini: */ -}}

{{- $buttons := tuple
  (dict "exec" "cm_Rereadsource"
        "icon" "wcmicons.dll,0")
  (dict)
  (dict "exec" "cm_srcshort"
        "icon" "wcmicons.dll,3")
  (dict "exec" "cm_srclong"
        "icon" "wcmicons.dll,4")
  (dict "exec" "cm_SrcThumbs"
        "icon" "wcmicons.dll,26")
  (dict "exec" "cm_SwitchSeparateTree"
        "icon" "wcmicons.dll,51")
  (dict)
  (dict "exec" "cm_DirBranch"
        "icon" "wcmicons.dll,50")
  (dict)
  (dict "exec" "cm_ExchangeSelection"
        "icon" "wcmicons.dll,11")
  (dict)
  (dict "exec" "cm_GotoPreviousDir"
        "icon" "wcmicons.dll,18")
  (dict "exec" "cm_GotoNextDir"
        "icon" "wcmicons.dll,19")
  (dict)
  (dict "exec" "cm_PackFiles"
        "icon" "wcmicons.dll,30")
  (dict "exec" "cm_UnpackFiles"
        "icon" "wcmicons.dll,31")
  (dict)
  (dict "exec" "cm_FtpConnect"
        "icon" "wcmicons.dll,16")
  (dict "exec" "cm_FtpNew"
        "icon" "wcmicons.dll,17")
  (dict)
  (dict "exec" "cm_SearchFor"
        "icon" "wcmicons.dll,47")
  (dict "exec" "cm_MultiRenameFiles"
        "icon" "wcmicons.dll,46")
  (dict "exec" "cm_FileSync"
        "icon" "wcmicons.dll,48")
  (dict "exec" "cm_CopyFullNamesToClip"
        "icon" "wcmicons.dll,45")
  (dict)
  (dict "exec" "em_explorer"
        "icon" "%$Windows%\\explorer.exe"
        "menu" "Windows Explorer")
  (dict "exec" "notepad.exe"
        "icon" "notepad.exe"
        "menu" "Notepad")
-}}

{{- $programFiles := tuple (env "ProgramFiles") -}}

{{- with $programFilesUser := (printf "%s\\Programs" (env "LocalAppData")) -}}
{{-   $programFiles = append $programFiles $programFilesUser -}}
{{- end -}}

{{- if eq .chezmoi.arch "amd64" -}}
{{-   $programFiles = append $programFiles (env "ProgramFiles(x86)") -}}
{{- end -}}

{{/* 010 Editor */}}
{{- range $i, $directory := $programFiles -}}
{{-   $exe := printf "%s\\010 Editor\\010Editor.exe" $directory -}}
{{-   if glob $exe -}}
{{-     $buttons = append $buttons
          (dict "args" "%P%S"
                "exec" $exe
                "icon" $exe
                "menu" "010 Editor"
                "path" (osDir $exe)) -}}
{{-     break -}}
{{-   end -}}
{{- end -}}

{{/* Au3Info */}}
{{- $au3info32 := "Au3Info.exe" -}}
{{- $au3info64 := "Au3Info_x64.exe" -}}
{{- $au3info   := $au3info32 -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   if lookPath $au3info64 -}}
{{-     $au3info = $au3info64 -}}
{{-   end -}}
{{- end -}}
{{- $au3info = lookPath $au3info -}}
{{- if $au3info -}}
{{-   $buttons = append $buttons
	(dict "exec" $au3info
	      "icon" $au3info
	      "menu" "Au3Info"
	      "path" (osDir $au3info)) -}}
{{- end -}}

{{/* Error Lookup */}}
{{- $errlook := "" -}}
{{- range $i, $dir := $programFiles -}}
{{-   $pattern := printf "%s\\Microsoft Visual Studio\\*\\Community\\Common7\\Tools\\errlook.exe" $dir -}}
{{-   range $i, $exe := glob $pattern -}}
{{-     if and (not $errlook) (eq (osBase $exe) "errlook.exe") -}}
{{-       $errlook = osClean $exe -}}
{{-       $buttons = append $buttons
            (dict "exec" $errlook
                  "icon" "%$System%\\mmcndmgr.dll,125"
                  "menu" "Error Lookup"
                  "path" (osDir $errlook)) -}}
{{-       break -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{/* GUID Generator */}}
{{- $guidgen := "" -}}
{{- range $i, $dir := $programFiles -}}
{{-   $pattern := printf "%s\\Microsoft Visual Studio\\*\\Community\\Common7\\Tools\\guidgen.exe" $dir -}}
{{-   range $i, $exe := glob $pattern -}}
{{-     if and (not $guidgen) (eq (osBase $exe) "guidgen.exe") -}}
{{-       $guidgen = osClean $exe -}}
{{-       $buttons = append $buttons
            (dict "exec" $guidgen
                  "icon" $guidgen
                  "menu" "GUID Generator"
                  "path" (osDir $guidgen)) -}}
{{-       break -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{/* Hacker's View */}}
{{- range $i, $directory := $programFiles -}}
{{-   with $pattern := printf "%s\\Hiew\\hiew*.exe" $directory -}}
{{-     range $i, $exe := glob $pattern -}}
{{-       with $hiew := osClean $exe -}}
{{-         $buttons = append $buttons
              (dict "args" "%P%S"
                    "exec" $hiew
                    "icon" "%$ComSpec%"
                    "menu" "Hacker's View"
                    "path" (osDir $hiew)) -}}
{{-         break -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{/* IDA Pro */}}
{{- $ida32 := "" -}}
{{- $ida64 := "" -}}
{{- range $i, $dir := $programFiles -}}
{{-   $pattern := printf "%s\\IDA Pro *\\ida*.exe" $dir -}}
{{-   range $i, $exe := glob $pattern -}}
{{-     if and (not $ida32) (eq (osBase $exe) "ida.exe") -}}
{{-       $ida32 = osClean $exe -}}
{{-     end -}}
{{-     if and (not $ida64) (eq (osBase $exe) "ida64.exe") -}}
{{-       $ida64 = osClean $exe -}}
{{-     end -}}
{{-     if and $ida32 $ida64 -}}
{{-       break -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
{{- if $ida32 -}}
{{-   $buttons = append $buttons
        (dict "args" "%P%S"
              "exec" $ida32
              "icon" $ida32
              "menu" "IDA Pro x86"
              "path" (osDir $ida32)) -}}
{{- end -}}
{{- if $ida64 -}}
{{-   $buttons = append $buttons
        (dict "args" "%P%S"
              "exec" $ida64
              "icon" $ida64
              "menu" "IDA Pro x64"
              "path" (osDir $ida64)) -}}
{{- end -}}

{{/* Spy++ */}}
{{- $spy32 := "" -}}
{{- $spy64 := "" -}}
{{- range $i, $dir := $programFiles -}}
{{-   $pattern := printf "%s\\Microsoft Visual Studio\\*\\Community\\Common7\\Tools\\spyxx*.exe" $dir -}}
{{-   range $i, $exe := glob $pattern -}}
{{-     if and (not $spy32) (eq (osBase $exe) "spyxx.exe") -}}
{{-       $spy32 = osClean $exe -}}
{{-     end -}}
{{-     if and (not $spy64) (eq (osBase $exe) "spyxx_amd64.exe") -}}
{{-       $spy64 = osClean $exe -}}
{{-     end -}}
{{-     if and $spy32 $spy64 -}}
{{-       break -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
{{- if $spy32 -}}
{{-   $buttons = append $buttons
        (dict "exec" $spy32
              "icon" $spy32
              "menu" "Spy++ x86"
              "path" (osDir $spy32)) -}}
{{- end -}}
{{- if $spy64 -}}
{{-   $buttons = append $buttons
        (dict "exec" $spy64
              "icon" $spy64
              "menu" "Spy++ x64"
              "path" (osDir $spy64)) -}}
{{- end -}}

[Buttonbar]
Buttoncount={{- len $buttons }}
{{- range $i, $element := $buttons }}
{{-   $i = (add1 $i) }}
{{-   if $element }}
button{{- $i -}}={{- $element.icon }}
cmd{{- $i -}}={{- $element.exec }}
{{-     if index $element "menu" }}
menu{{- $i -}}={{- $element.menu }}
{{-     end }}
{{-     if index $element "args" }}
param{{- $i -}}={{- $element.args }}
{{-     end }}
{{-     if index $element "path" }}
path{{- $i -}}={{- $element.path }}
{{-     end }}
{{-   else }}
button{{- $i -}}=
{{-   end }}
{{- end }}
