{{- /* vim: set ft=dosini: */ -}}

{{- $buttons := tuple
  (dict "cmd"  "cm_Rereadsource"
        "icon" "wcmicons.dll,0")
  (dict)
  (dict "cmd"  "cm_srcshort"
        "icon" "wcmicons.dll,3")
  (dict "cmd"  "cm_srclong"
        "icon" "wcmicons.dll,4")
  (dict "cmd"  "cm_SrcThumbs"
        "icon" "wcmicons.dll,26")
  (dict "cmd"  "cm_SwitchSeparateTree"
        "icon" "wcmicons.dll,51")
  (dict)
  (dict "cmd"  "cm_DirBranch"
        "icon" "wcmicons.dll,50")
  (dict)
  (dict "cmd"  "cm_ExchangeSelection"
        "icon" "wcmicons.dll,11")
  (dict)
  (dict "cmd"  "cm_GotoPreviousDir"
        "icon" "wcmicons.dll,18")
  (dict "cmd"  "cm_GotoNextDir"
        "icon" "wcmicons.dll,19")
  (dict)
  (dict "cmd"  "cm_PackFiles"
        "icon" "wcmicons.dll,30")
  (dict "cmd"  "cm_UnpackFiles"
        "icon" "wcmicons.dll,31")
  (dict)
  (dict "cmd"  "cm_FtpConnect"
        "icon" "wcmicons.dll,16")
  (dict "cmd"  "cm_FtpNew"
        "icon" "wcmicons.dll,17")
  (dict)
  (dict "cmd"  "cm_SearchFor"
        "icon" "wcmicons.dll,47")
  (dict "cmd"  "cm_MultiRenameFiles"
        "icon" "wcmicons.dll,46")
  (dict "cmd"  "cm_FileSync"
        "icon" "wcmicons.dll,48")
  (dict "cmd"  "cm_CopyFullNamesToClip"
        "icon" "wcmicons.dll,45")
  (dict)
  (dict "cmd"  "em_explorer"
        "icon" "%$Windows%\\explorer.exe"
        "menu" "Windows Explorer")
  (dict "cmd"  "notepad.exe"
        "icon" "notepad.exe"
        "menu" "Notepad")
-}}

{{/* Create button for Au3Info if available. */}}
{{- $au3info32 := "Au3Info.exe" -}}
{{- $au3info64 := "Au3Info_x64.exe" -}}
{{- $au3info   := $au3info32 -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   if lookPath $au3info64 -}}
{{-     $au3info = $au3info64 -}}
{{-   end -}}
{{- end -}}
{{- $au3info = lookPath $au3info -}}
{{- if $au3info -}}
{{-   $buttons = append $buttons
	(dict "cmd"  $au3info
	      "icon" $au3info
	      "menu" "Au3Info"
	      "path" "%$UserProfile%\\") -}}
{{- end -}}

[Buttonbar]
Buttoncount={{- len $buttons }}
{{- $i := 0 -}}
{{- range $button := $buttons }}
{{-   $i = (add1 $i) }}
{{-   if $button }}
button{{- $i -}}={{ $button.icon }}
cmd{{- $i -}}={{ $button.cmd }}
{{-     if index $button "path" }}
path{{- $i -}}={{ $button.path }}
{{-     end }}
{{-     if index $button "menu" }}
menu{{- $i -}}={{ $button.menu }}
{{-     end }}
{{-   else }}
button{{- $i -}}=
{{-   end }}
{{- end }}
