#!/bin/sh

# readonly would change the value of $? to 0
bat=$(command -v batcat)

if [ $? -eq 0 ]; then
  readonly bat bin=${HOME}/.local/bin

  if mkdir -p "${bin}"; then
    ln -fs "${bat}" "${bin}/bat"
  fi
fi

# vim: ft=sh:
