<?xml version="1.0" encoding="UTF-8"?>
<!-- Produced by Beyond Compare 4 from Scooter Software -->
<BCSessions Version="1" MinVersion="1">
	<TSessionFolder>
		<Items>
			<TDirCompareSession>
				<Rules>
					<UseContentComparison Value="True"/>
				</Rules>
			</TDirCompareSession>
			<THexCompareSession>
				<Rules>
					<AlignKind Value="alignNone"/>
				</Rules>
			</THexCompareSession>
		</Items>
	</TSessionFolder>
</BCSessions>
