{{- /* vim: set ft=dosini: */ -}}

{{/* Plugin directories for Total Commander. */}}
{{- $plugins := expandenv "$AppData\\GHISLER\\plugins" -}}
{{- $wcx     := printf "%s\\%s" $plugins "wcx" -}}
{{- $wdx     := printf "%s\\%s" $plugins "wdx" -}}
{{- $wfx     := printf "%s\\%s" $plugins "wfx" -}}
{{- $wlx     := printf "%s\\%s" $plugins "wlx" -}}

{{/* Find the Chezmoi source directory. */}}
{{- $chezmoi  := ".local\\share\\chezmoi\\home" -}}
{{- $mChezmoi := (dict "name" "&Chezmoi") -}}
{{- if (glob (printf "%s\\%s" (expandenv "$UserProfile") $chezmoi))  }}
{{-   $exec := printf "CD \"%%$UserProfile%%\\%s\"" $chezmoi -}}
{{-   $mChezmoi = (dict "exec" $exec "name" $mChezmoi.name) -}}
{{- end -}}

{{/* Find the Cloud plugin. */}}
{{- $mCloud := (dict "name" "Clou&d") -}}
{{- if glob (printf "%s\\%s" $wfx "cloudplugin") -}}
{{-   $mCloud = (dict "exec" "CD \"\\\\\\Cloud\"" "name" $mCloud.name) -}}
{{- end -}}

{{/* Find the SFTP plugin. */}}
{{- $mSFTP := (dict "name" "S&FTP") -}}
{{- if glob (printf "%s\\%s" $wfx "sftpplug") -}}
{{-   $mSFTP = (dict "exec" "CD \"\\\\\\Secure FTP\"" "name" $mSFTP.name) -}}
{{- end -}}

{{/* Find the WebDAV plugin. */}}
{{- $mWebDAV := (dict "name" "WebDA&V") -}}
{{- if glob (printf "%s\\%s" $wfx "webdav") -}}
{{-   $mWebDAV = (dict "exec" "CD \"\\\\\\WebDAV\"" "name" $mWebDAV.name) -}}
{{- end -}}

{{- $dirmenu := tuple
  $mChezmoi
  $mCloud
  (dict "exec" "CD ::{20D04FE0-3AEA-1069-A2D8-08002B30309D}"
        "name" "Com&puter")
  (dict "exec" "CD \"%$Desktop%\""
        "name" "Desk&top")
  (dict "exec" "CD \"%$Downloads%\""
        "name" "Down&loads")
  (dict "exec" "CD \"%COMMANDER_INI%\\..\""
        "name" "&Ghisler")
  (dict "exec" "CD \"%$Profile%\""
        "name" "&Home")
  (dict "exec" "CD ::{645FF040-5081-101B-9F08-00AA002F954E}"
        "name" "Recycle &Bin")
  $mSFTP
  (dict "exec" "CD \"\\\\localhost\""
        "name" "Shar&es")
  (dict "exec" "CD \"%$RoamingAppData%\\Microsoft\\Windows\\Start Menu\\Programs\\Startup\""
        "name" "&Startup")
  $mWebDAV
  (dict "exec" "CD \"%$LocalAppData%\\Packages\\Microsoft.WindowsTerminal_8wekyb3d8bbwe\\LocalState\""
        "name" "&Windows Terminal")
  (dict)
  (dict "exec" "CD ::{B2B4A4D1-2754-4140-A2EB-9A76D9D7CDC6}"
        "name" "Lin&ux")
  (dict "exec" "CD \"%$LocalAppData%\""
        "name" "L&ocal AppData")
  (dict "exec" "CD \"%$LocalAppData%\\Programs\""
        "name" "Local Progr&am Files")
  (dict "exec" "CD \"%$Public%\""
        "name" "Publ&ic")
  (dict "exec" "CD \"%$RoamingAppData%\""
        "name" "&Roaming AppData")
  (dict "exec" "CD \"%TEMP%\""
        "name" "Te&mp")
-}}

[user]
menu1=Bare&Grep Pro
cmd1=em_baregrep
menu2=Bare&Tail Pro
cmd2=em_baretail
menu3=-Base64
menu4=Decode
cmd4=em_certutil_decode
menu5=Encode
cmd5=em_certutil_encode
menu6=--
menu7=Exe&info PE
cmd7=em_exeinfo
menu8=Inn&o Setup Unpacker
cmd8=em_innounp
menu9=Resource &Hacker
cmd9=em_reshacker
menu10=Sumatra &PDF
cmd10=em_sumatra
menu11=-&UPX
menu12=&Compress
cmd12=em_upx_pack
menu13=&Decompress
cmd13=em_upx_unpack
menu14=--

[DirMenu]
{{- $index := 0 }}
{{- range $element := $dirmenu }}
{{-   if index $element "name" }}
{{-     if index $element "exec" }}
{{-       $index = (add1 $index) }}
menu{{- $index -}}={{- $element.name }}
cmd{{- $index -}}={{- $element.exec }}
{{-     end }}
{{-   else }}
{{-     $index = (add1 $index) }}
menu{{- $index -}}=-
{{-   end }}
{{- end }}
