{{- /* vim: set ft=dosini: */ -}}

{{/* Root directory for plugins. */}}
{{- $plugins := expandenv "$AppData\\GHISLER\\plugins" -}}

{{/* Directory for packer plugins. */}}
{{- $wcx := (printf "%s\\%s" $plugins "wcx") -}}

{{/* Directory for content plugins. */}}
{{- $wdx := (printf "%s\\%s" $plugins "wdx") -}}

{{/* Directory for file system plugins. */}}
{{- $wfx := (printf "%s\\%s" $plugins "wfx") -}}

{{/* Directory for lister plugins. */}}
{{- $wlx := (printf "%s\\%s" $plugins "wlx") -}}

{{/* List with one element if the plugin is present, or an empty list. */}}
{{- $cloudplugin := (glob (printf "%s\\%s" $wfx "cloudplugin")) -}}
{{- $sftpplug    := (glob (printf "%s\\%s" $wfx "sftpplug")) -}}
{{- $webdav      := (glob (printf "%s\\%s" $wfx "webdav")) -}}

[user]
menu1=Bare&Grep Pro
cmd1=em_baregrep
menu2=Bare&Tail Pro
cmd2=em_baretail
menu3=-Base64
menu4=Decode
cmd4=em_certutil_decode
menu5=Encode
cmd5=em_certutil_encode
menu6=--
menu7=Exe&info PE
cmd7=em_exeinfo
menu8=Inn&o Setup Unpacker
cmd8=em_innounp
menu9=Resource &Hacker
cmd9=em_reshacker
menu10=Sumatra &PDF
cmd10=em_sumatra
menu11=-&UPX
menu12=&Compress
cmd12=em_upx_pack
menu13=&Decompress
cmd13=em_upx_unpack
menu14=--

[DirMenu]
{{- $i := 0  }}

{{- $chezmoi := ".local\\share\\chezmoi\\home" -}}
{{- if (glob (printf "%s\\%s" (expandenv "$UserProfile") $chezmoi))  }}
{{- $i = (add1 $i)  }}
menu{{- $i -}}=&Chezmoi
cmd{{- $i -}}=CD "%$UserProfile%\{{- $chezmoi -}}"
{{- end -}}

{{- if $cloudplugin  }}
{{- $i = (add1 $i) }}
menu{{- $i -}}=Clou&d
cmd{{- $i -}}=CD "\\\Cloud"
{{- end -}}

{{- $i = (add1 $i)  }}
menu{{- $i -}}=Com&puter
cmd{{- $i -}}=CD ::{20D04FE0-3AEA-1069-A2D8-08002B30309D}

{{- $i = (add1 $i)  }}
menu{{- $i -}}=Desk&top
cmd{{- $i -}}=CD "%$Desktop%"

{{- $i = (add1 $i)  }}
menu{{- $i -}}=Down&loads
cmd{{- $i -}}=CD "%$Downloads%"

{{- $i = (add1 $i)  }}
menu{{- $i -}}=&Ghisler
cmd{{- $i -}}=CD "%COMMANDER_INI%\.."

{{- $i = (add1 $i)  }}
menu{{- $i -}}=&Home
cmd{{- $i -}}=CD "%$Profile%"

{{- $i = (add1 $i)  }}
menu{{- $i -}}=Recycle &Bin
cmd{{- $i -}}=CD ::{645FF040-5081-101B-9F08-00AA002F954E}

{{- if $sftpplug  }}
{{- $i = (add1 $i)  }}
menu{{- $i -}}=S&FTP
cmd{{- $i -}}=CD "\\\Secure FTP"
{{- end -}}

{{- $i = (add1 $i)  }}
menu{{- $i -}}=Shar&es
cmd{{- $i -}}=CD "\\localhost"

{{- $i = (add1 $i)  }}
menu{{- $i -}}=&Startup
cmd{{- $i -}}=CD "%$RoamingAppData%\Microsoft\Windows\Start Menu\Programs\Startup"

{{- if $webdav  }}
{{- $i = (add1 $i)  }}
menu{{- $i -}}=WebDA&V
cmd{{- $i -}}=CD "\\\WebDAV"
{{- end -}}

{{- $i = (add1 $i)  }}
menu{{- $i -}}=&Windows Terminal
cmd{{- $i -}}=CD "%$LocalAppData%\Packages\Microsoft.WindowsTerminal_8wekyb3d8bbwe\LocalState"

{{- $i = (add1 $i)  }}
menu{{- $i -}}=-

{{- $i = (add1 $i)  }}
menu{{- $i -}}=Lin&ux
cmd{{- $i -}}=CD ::{B2B4A4D1-2754-4140-A2EB-9A76D9D7CDC6}

{{- $i = (add1 $i)  }}
menu{{- $i -}}=L&ocal AppData
cmd{{- $i -}}=CD "%$LocalAppData%"

{{- $i = (add1 $i)  }}
menu{{- $i -}}=&Roaming AppData
cmd{{- $i -}}=CD "%$RoamingAppData%"

{{- $i = (add1 $i)  }}
menu{{- $i -}}=Te&mp
cmd{{- $i -}}=CD "%TEMP%"

{{- $i = (add1 $i)  }}
