{{- /* vim: set ft=dosini: */ -}}

[user]
menu1=Bare&Grep Pro
cmd1=em_baregrep
menu2=Bare&Tail Pro
cmd2=em_baretail
menu3=-Base64
menu4=Decode
cmd4=em_certutil_decode
menu5=Encode
cmd5=em_certutil_encode
menu6=--
menu7=Exe&info PE
cmd7=em_exeinfo
menu8=Inn&o Setup Unpacker
cmd8=em_innounp
menu9=Resource &Hacker
cmd9=em_reshacker
menu10=Sumatra &PDF
cmd10=em_sumatra
menu11=-&UPX
menu12=&Compress
cmd12=em_upx_pack
menu13=&Decompress
cmd13=em_upx_unpack
menu14=--

[DirMenu]
menu1=Com&puter
cmd1=CD ::{20D04FE0-3AEA-1069-A2D8-08002B30309D}
menu2=Desk&top
cmd2=CD "%$Desktop%"
menu3=Down&loads
cmd3=CD "%$Downloads%"
menu4=&Ghisler
cmd4=CD "%COMMANDER_INI%\.."
menu5=&Home
cmd5=CD "%$Profile%"
menu6=Recycle &Bin
cmd6=CD ::{645FF040-5081-101B-9F08-00AA002F954E}
menu7=Shar&es
cmd7=CD "\\localhost"
menu8=&Startup
cmd8=CD "%$RoamingAppData%\Microsoft\Windows\Start Menu\Programs\Startup"
menu9=&Windows Terminal
cmd9=CD "%$LocalAppData%\Packages\Microsoft.WindowsTerminal_8wekyb3d8bbwe\LocalState"
menu10=-
menu11=Lin&ux
cmd11=CD ::{B2B4A4D1-2754-4140-A2EB-9A76D9D7CDC6}
menu12=L&ocal AppData
cmd12=CD "%$LocalAppData%"
menu13=&Roaming AppData
cmd13=CD "%$RoamingAppData%"
menu14=Te&mp
cmd14=CD "%TEMP%"
